.tab-container {
  display: flex;
  flex-direction: column;
}

.tab-container > span {
  display: flex;
  flex-direction: column;
}

.tab-buttons-container {
  width: 100%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  display: inline-block;
  margin: 0 auto 0 auto;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .tab button {
    font-size: 10px;
  }
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(234, 123, 0, 0.4);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ea7b00;
}

.tablink {
  max-width: 150px;
}

.tablink-full {
  max-width: 100%;
}

.small-tab {
  padding: 0 1vw 0 1vw;
  line-height: 4vh;
  height: auto;
  min-height: 25px;
}

/* @media only screen and (max-width: 600px) {
  .tab button {
    font-size: 10px;
  }
} */
