.nav-container {
  margin: 0;
  padding: 0;
  background-color: #222;
  display: flex;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* display: flex; */
  background-color: #222;
}

.menu {
  display: flex;
  width: 100%;
}

.main-menu-container {
  justify-content: flex-start;
}

.profile-menu-container {
  justify-content: flex-end;
}

.nav-link {
  transition: 0.3s;
  color: rgba(255, 255, 255, .5);
  font-size: 130%;
  line-height: 35px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding: 0.5vw 1vw 0.5vw 1vw;
}

/* link, visited, hover, focus, active */
.nav-link:link, .nav-link:visited, .nav-link:focus {
  text-decoration: none;
}

.nav-link:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255);
}

.active-nav-link {
  background-color: rgb(234, 123, 0);
  text-decoration: none;
  color: rgba(255, 255, 255);
}

nav li {
  margin: 0;
  padding: 0;
  display: flex;
  margin: 1vw 0.5vw 1vw 0.5vw;
}

nav button {
  color: rgba(255, 255, 255, .5);
  font-size: 100%;
  transition: 0.3s;
  border: none;
  margin: 0;
  padding: 0;
}

nav li:hover {
  background-color: rgba(234, 123, 0, 0.4);
  color: #FFF;
  transition: 0.3s;
}


/* Dropdown containers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.dropdown-button-container {
  margin: 8px;
  width: 32px;
  display: none;
}

/* Dropdown content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main-menu{
  display: var(--main-nav-display);
}

.profile-menu{
  display: var(--profile-nav-display);
}

@media only screen and (min-width: 600px) {
  .main-menu {
    --main-nav-display: flex;
  }
  .profile-menu {
    --profile-nav-display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .nav-container {
    --main-nav-display: none;
    --profile-nav-display: none;
  }
  .main-menu-container:hover {
    --main-nav-display: flex;
  }
  .profile-menu-container:hover {
    --profile-nav-display: flex;
  }

  .dropdown-button-container {
    display: inline-block;
  }

  span ul {
     position: absolute;
     top: 44px;
     flex-direction: column;
     z-index: 1;
     display: none;
  }

}

/* Main dropdown menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-bar {
  position: relative;
  background: rgba(255,255,255,.5);
  width: 100%;
  height: 4px;
  margin-bottom: 8px;
}

.menu-bar:last-child {
  margin: 0;
}

/* Profile dropdown menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.profile {
  position: relative;
  width: 36px;
  height: 36px;
  margin: 4px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border: 2px solid rgba(255,255,255,.5);
  overflow: hidden;
  background: rgba(255,255,255,.5);
}

.profile-head {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  top: 3px;
  left: 9px;
  width: 14px;
  height: 14px;
  background: #000000;
  position: absolute;
}

.profile-body {
  top: 20px;
  left: 3px;
  width: 26px;
  height: 30px;
  background: #000000;
  @border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  position: absolute;
}
