.nav-container {
  margin: 0;
  padding: 0;
  background-color: #222;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #222;
  overflow: hidden;
}

nav a {
  transition: 0.3s;
  color: rgba(255, 255, 255, .5);
}

nav a:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255);
}

nav a:active {
  background-color: rgb(234, 123, 0);
  text-decoration: none;
  color: #FFF;
}

nav li {
  color: rgba(255, 255, 255, .5);
  display: block;
  font-size: 130%;
  line-height: 35px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  margin: 1% 0.5% 1% 0.5%;
  padding: 0.5% 1% 0.5% 1%;
  float: left;
  background-color: #222;
  transition: 0.3s;
  height: 50px;
}

nav button {
  color: rgba(255, 255, 255, .5);
  font-size: 100%;
  transition: 0.3s;
  border: none;
  margin: 0;
  padding: 0;
}

nav button:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255);
}

nav li:hover {
  background-color: rgba(234, 123, 0, 0.4);
  color: #FFF;
  transition: 0.3s;
}

nav a:visited, nav a:link {
  text-decoration: none;
}
