.ion-page{
  overflow: auto;
}

ion-content{
  --ion-background-color: translucent;
}

/* Weeklong stats page
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.stats-header {
  margin: 0;
  text-align: center;
  font-size: 3vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.05rem;
  margin-bottom: 15px;
  text-decoration: none;
}

/* Login page
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.login-form {
  text-align: center;
  padding: 3vw 6vw 1vw 6vw;
  width: 80vw;
  max-width: 400px;
  margin: auto;
}

.login-form p {
  margin-bottom: 2vh;
}

.login-form hr {
  margin: 2vh;
}

.login-form input {
  margin: 0;
  width: 100%;
}

.login-form .form-group {
  margin: 0 0 20px 0;
}

/* widths
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.col-2 {
  display: inline-block;
  width: 50vh;
}

.col-3 {
  display: inline-block;
  width: 33vh;
}

.col-4 {
  display: inline-block;
  width: 25vh;
}

.col-5 {
  display: inline-block;
  width: 20vh;
}

.col-6 {
  display: inline-block;
  width: 16vh;
}

.col-8 {
  display: inline-block;
  width: 12vh;
}

/* User profile page
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.user-profile {
  width: 100%;
  padding: 2vw 2vw 0 2vw;
}

.user-profile table {
  margin: auto;
}

.user-profile tr {
  padding: 10px;
}

@media (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
}

/* Signup page
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.signup-form input {
  margin-bottom: 1vh;
}

button[disabled]{
  cursor: not-allowed;
  background-color: gray;
  border-color: gray;
}

button[disabled]:hover {
  cursor: not-allowed;
  background-color: gray;
  border-color: gray;
}

.error {
  padding: 0 5px;
  margin: 0;
  background-color: #ff5f3a;
  color: #000000;
}
